body {
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.hidden {
  display: none;
}

.error {
  font-size: 1rem;
  color: red;
  font-weight: 600;
}

:root {
  --primery: rgb(76, 190, 76);
  --secondary: #b8b1b1;
  --text-light: gray;
}

header {
  border-bottom: 1px solid rgb(253, 210, 205);
  padding: 0 100px;
  background-color: rgb(240, 238, 236);
}

header nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

ul,
li {
  list-style: none;
}

.logo {
  padding: 1rem;
  display: flex;
  margin: 0px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--primery);
}

.navbar {
  display: flex;
}

.navbar li {
  margin: 0 20px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary);
}

.formcontrol {
  margin: 2rem auto;
  text-align: center;
  display: inline-block;
  box-shadow: 0px 0px 10px gray;
  border-radius: 10px;
}

h1 {
  color: rgb(1, 1, 59);
  font-size: 2.8rem;
  font-weight: 600;
}

h4 {
  font-size: 1.1rem;
  color: var(--primery);
  display: inline;
}
form {
  width: 34rem;
  margin: 3rem 4rem;
  padding: 1.5rem;
}

textarea,
input {
  font-size: 1.2rem;
  padding: 8px 14px;
  width: 30rem;
  margin: 5px;
  border-radius: 5px;
  border: none;
  border: 1px solid gray;
}

.new-post {
  width: 54rem;
}
.new-post textarea,
.new-post input {
  width: 50rem;
}

.new-post input[type='submit'] {
  float: right;
  margin-right: inherit;
  font-size: 1.3rem;
}

input[type='submit'] {
  padding: 0.8rem 1.8rem;
  font-weight: 700;
  margin: 20px 5px;
  width: fit-content;
  border: none;
  background-color: var(--primery);
  color: white;
}

.button {
  text-align: end;
}

.hero {
  padding: 30px;
  background-color: var(--primery);
  color: white;
}

.title-line {
  font-size: 1.7rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main {
  box-sizing: border-box;
  padding: 2.5% 5%;
}

.posts {
  width: 65%;
  text-align: left;
  padding: 2.5%;
}

.tags {
  padding: 1.5%;
  width: 25%;
  background-color: #f3f3f3;
  text-align: left;
}

.feed-title {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--primery);
  padding: 0 1.5rem;
  margin: 0 1rem;
}

.tags-title {
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
  margin-bottom: 20px;
}

.tag {
  font-weight: 500;
  font-size: 1rem;
  border-radius: 20px;
  padding: 4px 10px;
  background-color: gray;
  color: white;
  display: inline-block;
  margin: 5px 3px;
  cursor: pointer;
}

.post {
  padding: 1.5rem 0;
}

.smile {
  padding: 0 5px;
  font-size: 1.8rem;
  display: inline-table;
}

.date {
  font-size: 0.8rem;
  margin: 0;
  color: var(--secondary);
}

.Jc-center {
  display: flex;
  justify-content: flex-start;
}

.tag-name {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 2px 0.7rem;
  cursor: pointer;
  margin: 5px;
}

.likes-counter {
  font-size: 1rem;
  padding: 4px 8px;
  border-radius: 5px;
  color: var(--primery);
  border: 1px solid var(--primery);
  cursor: pointer;
}

.button-section {
  color: var(--secondary);
}

.title {
  margin: 8px;
  font-weight: 600;
  font-size: 1.8rem;
  color: black;
}

.description {
  margin: 0 8px;
  margin-bottom: 2rem;
  color: black;
  font-weight: 500;
}

.read-more {
  margin-left: 8px;
  cursor: pointer;
  color: var(--primery);
}

h2 strong {
  font-size: 4rem;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
}

.pagination .active {
  box-sizing: border-box;
  border: 1px solid var(--primery);
  background-color: white;
  color: var(--primery);
}

.span-box {
  background-color: var(--primery);
  color: white;
  padding: 0.5rem 0.7rem;
  margin: 5px 1px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}

.span-box:hover {
  opacity: 0.8;
}

input:disabled {
  background-color: gray;
}

footer {
  border-top: 1px solid rgb(180, 173, 173);
  margin: 0 80px;
  text-align: center;
  margin-top: 5rem;
}

footer a {
  display: inline-block;
  color: var(--primery);
  margin: 2rem 0.6rem;
  font-weight: 600;
}

.hero-user {
  background-color: rgb(232, 246, 252);
}

.hero-user .smile {
  margin-top: 2rem;
  font-size: 4rem;
}

.smile img {
  border-radius: 50%;
  box-sizing: border-box;
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  object-position: center;
}

.smile-small img {
  margin-right: 0.5rem;
  border-radius: 50%;
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  object-position: center;
}

input[type='submit'] {
  cursor: pointer;
}

.hero-user input[type='submit'] {
  font-size: 1rem;
  padding: 5px 10px;
  color: rgb(17, 16, 16);
  background-color: transparent;
  border: 2px solid gray;
}

.hero-user .edit-profile {
  display: flex;
  margin-right: 3rem;
  justify-content: flex-end;
}

.profile-feed {
  display: flex;
}

.profile-feed span {
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 1rem;
  padding: 6px 1rem;
  background-color: lightgrey;
}

.profile-article {
  text-align: left;
}

.active {
  border-bottom: 3px solid var(--primery);
}

.smile-xsmall img {
  margin-right: 0.5rem;
  border-radius: 1rem;
  max-width: 1.8rem;
  height: 1.7rem;
}

.hero-user .bio {
  margin: 0 auto;
}

.comments {
  border-radius: 10px;
  margin: 4rem;
  text-align: start;
  border: 2px solid rgb(167, 207, 223);
  width: 34rem;
  padding: 0 2rem;
}

.singleComment {
  text-align: start;
}

.singleComment p {
  font-size: 1rem;
  color: gray;
  padding: 0;
  margin: 0.7rem 0;
}
.Delete-article,
.edit-article {
  margin: 0 0.5rem;
  padding: 5px 1rem;
  color: white;
  border: 2px solid gray;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
}

.add-comment {
  background-color: var(--primery);
  color: white;
  border: none;
  padding: 6px 1rem;
  font-weight: 600;
  border-radius: 5px;
}

.add-comment-parent {
  display: flex;
  flex-flow: row-reverse;
  margin: 1rem 3rem;
}

.pointer {
  cursor: pointer;
}

.edit-article:hover {
  background-color: rgb(48, 91, 109);
}

.Delete-article:hover {
  background-color: crimson;
}
